<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> Cutiuta Diabeticului  Probabil cea mai sănătoasă aplicație din Dristor</title>
        <style>
            .axis {
                font: 10px sans-serif;
            }
            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: cripsEdges;

            }
            .day {
                fill: #fff;
                stroke: #ccc;
            }
            .line {
                stroke: #fff;
            }
            .background{
                fill: #eee;
            }
        </style>
        <link href="/static/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>{% block header_text %} {% endblock %}</h1>
        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/vendor/moment/moment.js"></script>
        <script src="/static/js/vendor/moment/locale/ro.js"></script>
        <script src="/static/js/vendor/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
        <script src="/static/js/vendor/d3.min.js"></script>
        {% comment 'deocamdata nu îmi trebuie backboneu'%}
        <script src="/static/js/vendor/underscore-min.js"></script>
        <script src="/static/js/vendor/backbone-min.js"></script>

        
          <script id="config" type="text/json">
            {
            "models":{},
            "collection":{},
            "views":{},
            "router": null
            }
          </script>
          <script src="/static/js/app.js"></script>
          <script src="/static/js/models.js"></script>
          <script src="/static/js/views.js"></script>
          <script src="/static/js/router.js"></script>
          {% endcomment %}

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> Cutiuta diabeticului</a>
        </div>

        <ul class="nav navbar-nav">
            <li {% if request.path == '/glicemii/' %} class="active" {% endif %}><a href="{% url 'glicemii' %}"> Jurnalul de glicemii</a></li>
            <li {% if request.path == '/tratament/' %} class="active" {% endif %}><a href="{% url 'tratament' %}"> Tratament</a> </li>
            <li {% if request.path == '/informare/' %} class="active" {% endif %}><a href="{% url 'informare' %}"> Informare</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <li> Plm vezi că astea apar și dacă nu ești logat</li>
            <li><a href="{% url 'profil-pacient' %}"> Profil </a></li>
            <li><a  href="{% url 'logout' %}?next={% url 'home' %}"> Logout</a> </li>
        </ul>
    </div>
</nav>
        
        
        {% block content %}
        {% endblock %}
    </body>
</html>
