{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    
    {% block header_text %} Jurnalul de glicemii <p> Posibil cea mai sănătoasă aplicație din Dristor</p>{% endblock %}

    <body>
{% block content %}
        <h1 align="center"> Editează detalii despre {{ request.user.username|capfirst }}</h1>
        

        <form id="pacient_form" method="post" action="/nou/" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            {{ pacient_form.as_p }}

            <input type="submit" name="submit" id="register" value="Apasă" />
        </form>

    <a href="{% url 'apartinator-nou' %}" class="btn btn-success pull-right">Adaugă aparținător</a>
    <button type="button" class="btn btn-warning"> Resetează parola</button>
{% endblock %}
    </body>
</html>
