{% extends 'base.html' %}
<script src="/static/js/moment/moment.js"></script>
{% block title %} {{ block.super }} - {{ slug|capfirst }}{% endblock %}
{% block header_text %}<div align="center"> Jurnalul de glicemii al lui {{ request.user.username|capfirst }}</div> {% endblock %}
{% block content %}



{% if debug %} 
{% include 'glicemii_test.html' %}
{% endif %}


<script src="/static/js/glicemii.js"></script>

<div class="row" id="erori">
</div>


{% if messages %}
<div class="container-fluid">
    <div class="row">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="message.tags %}} {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Important: {% endif %}
            {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}


<div class="container-fluid">
    <div class="row">
            <h3> Glicemiile din ultima luna </h3>
        <form name="salut" id="mod-vizualizare" action="#" method="post">
            <div class="col-sm-8">
                <label for="one">Tabel</label>
                <input type="radio" id="tabel" name="first_item" value="tabel" checked="checked"/>

                <label for="two">Grafic</label>
                <input type="radio" id="grafic" name="first_item" value="grafic" />

                <label for="tree">Calendar</label>
                <input type="radio" id="calendar" name="first_item" value="calendar" />
        </form>
        </div>
        <div class="row" id ="tabel" >
            <div class="col-sm-8" id="grafic-glicemii-div" >
                <p> se încarcă glicemiile</p>
            </div>


        <div class="col-sm-4">
            <h3> Adaugă o Filă</h3>
            <form class='form-horizontal' action='/glicemie/adauga/' method='post' id='form_adauga_glicemie'>
                {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label"> {{ field.label }}</label>
                        <div class="controls" name="{{ field.name }}">{{ field }}
                            <span class="help-inline">
                                {% for error in field.errors %}{{ error }} {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-gourp">
                        <label class="control-label" name="{{ field.html_name| striptags }}">{{ field.label }}
                            {% if field.help_text %}
                            <p class="help-inline"><small"> {{ field.help_text }}</small></p>
                            {% endif %}</label>
                        <div class="controls">{{ field }}
                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                <br />
                <h4> Aici formular cu tratament</h4>

            </form>
                <button type="submit" class="btn btn-primary" id='adauga_glicemie'> Adaugă fila</button>
        </div>

        </div>
        
{% endblock %}
