<h1> Adaugă și tu o glicemie {{request.user.username|capfirst }}</h1>
<form action='/glicemie/adauga/' method='post'>
    {% csrf_token %}
    {{ form }}
    <input id='adauga_glicemie' type='submit' value='Submit' />
</form>
