<p> Aceste teste nu vor aparea in productie </p> 
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<link rel="stylesheet" href="/static/js/vendor/qunit-2.0.1.css">
<script src="/static/js/vendor/qunit-2.0.1.js"></script>

<script src="/static/js/glicemii-test.js"></script>
