{% extends 'base.html' %}
{% block header_text %} Cutiuța diabeticului {% endblock %}
{% block content %}
        
<h3>Bine ai venit!</h3> 
<a href="{% url 'glicemii' %}" id="jurnal"> Jurnalul diabeticului</a><br />
<a href="{% url 'informare' %}"> Informează-te despre diabet</a>
{% endblock %}
