{% extends 'base.html' %}
{% block header_text %} Cutiuța diabeticului {% endblock %}
{% block content %}

{% block nav_informare %} class="active" {% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        <h3> Cuprins </h3>
            <ul class="list-group">
                <li class="list-group-item active"> De ce eu?</li>
                <ul>
                    <li> Moștenire</li>
                    <li> Acțiuni proprii</li>
                </ul>

                <li class="list-group-item"> Cine poate să mă ajute ?</li>
                <ul>
                    <li> Medicul </li>
                    <li> Apropiații </li>
                </ul>
                <li class="list-group-item"> Înarmare prin informare</li>
                <ul>
                    <li> Complicațiile bolii</li>
                    <li> Stil de viață sănătos</li>
                    <ul>
                        <li> Dietă</li>
                        <li> Factori de risc</li>
                    </ul>
                    <li> Tratament </li>
                    <ul>
                        <li> Opțiunile terapeutice </li>
                        <li> Importanța tratamentului</li>
                        <li> Reacțiile adverse </li>
                    </ul>
                </ul>
                <li class="list-group-item"> Unelte ca să te descurci mai departe</li>
            </ul>
        </div>
        <div class="col-sm-8">
			<h2> De ce eu?</h2>
				<p>	
					<b>Întrebare:</b>Am mulți prieteni grași care nu au diabet. Știu multe persoane care au același regim de viață sedentar și nu au diabet. <em> Eu de ce am ? </em><br />
					<b> Răspuns:</b> Majoritatea persoanelor diabetice nu fac diabet, dar majoritatea persoanelor diabetice sunt obeze. Ca la fumători: nu toți fumătorii fac cancer de plămâni, dar cei care fac sunt majoritari fumători. <hr>
					<b> Întrebare:</b> Eu nu am fost niciodată la doctor până acum și am fost foarte sănătos. De ce acum am diabet ?</br>
					<b> Răspuns:</b> Este foarte important să vă vizitați medicul de familie cel puțin o dată pe an, când trebuie să vă faceți și analizele anuale. Bolile secolului nostru sunt parșive, ele nu dor, de aceea e important să discutați cu medicul dvs de familie. Sigur când suntem tineri trecem foarte ușor peste multe necazuri fără ajutor extern, dar pe măsură ce înaintăm în vârstă e important să prevenim anumite boli și când acestea apar să le tratăm din timp; vorba lui Eliade: "la bătrânețe plătim păcatele tinereții"</br>
					
				</p>
    </div>
</div>
{% endblock %}
