{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    
    {% block header_text %} Jurnalul de glicemii <p> Posibil cea mai sănătoasă aplicație din Dristor</p>{% endblock %}
{% block content %}
    <body>
        <h1> Înregistreaza-te ca pacient în marele jurnal de glicemii</h1>
        
        <strong>Înregistrează-te aici</strong>

        <form id="pacient_form" method="post" action="/nou/" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            {{ pacient_form.as_p }}

            <input type="submit" name="submit" id="register" value="Apasă" />
        </form>

{% endblock %}
    </body>
</html>
