{% extends 'base.html' %}
{% block title %} Invită pe cineva să te ajute cu diabetul {{ block.super }} {% endblock %}

{% block content %}
<h1> Invită pe cineva să te ajute </h1>
<p> aici un buton de help sau ceva</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"> Invită </button>
</form>

{% endblock %}
