{% extends 'base.html' %}

{% block header_text %}<div align="center"> Gestioneaza tratamentu {{ request.user.username|capfirst }}</div> {% endblock %}

{% block content %}

<script src="/static/js/tratament.js"></script>
<script src="/static/js/vendor/typeahead.bundle.js"></script>
{% comment %}
{% până nu mă lămuresc nu %}
{% preluat de aici: https://github.com/elo80ka/django-dynamic-formset/blob/master/docs/usage.rst %}
<script src="/static/js/vendor/django-dynamic-formset/src/jquery.formset.js"></script> 

        <script type="text/javascript">
            $(function() {
                $('#medicamente-form tbody tr').formset({
                    prefix: '{{ medicamente.prefix }}'
                })
            })
        </script>

{% endcomment %}
<link rel="stylesheet" type="text/css" href="/static/css/typeahead.css" />
        


{% if debug %} 
{% include 'tratament-test.html' %}
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p> Aici trebuie sa am informatiile despre tratament:
                <ul>
                    <li> ce pastile</li>
                    <li> de cate ori pe zi</li>
                    <li> de cand a inceput tratamentul<span class="glyphicon glyphicon-ok"></span></li>
                    <li> cand a fost schimbat</li>
                    <li> data ultimei retete si pentru cate zile a fost data<span class="glyphicon glyphicon-ok"></span></li>
                    <li><b> dacă e aceiași rețetă sau a schimbat ceva</b></li>
                </ul>
            </p>
        </div>
        
    </div>

        <div class="row">
            <h3> Noul formular cu formset end wat not</h3>
            <form action="" method="post" class="form-inline" role="form" id="medicamente-form">{% csrf_token %}
                 {% for field in form %}
                    {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label"> {{ field.label }}</label>
                        <div class="controls" name="{{ field.name }}">{{ field }}
                            <span class="help-inline">
                                {% for error in field.errors %}{{ error }} {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-gourp">
                        <label class="control-label" name="{{ field.html_name| striptags }}">{{ field.label }}
                            {% if field.help_text %}
                            <p class="help-inline"><small"> {{ field.help_text }}</small></p>
                            {% endif %}</label>
                        <div class="controls" style="position: relative">
                            {{ field }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}  

                <input type="submit" value="introdu tratamentul" class="btn btn-primary pull-right" />
            </form>
            </div>

            
</div>

{% endblock %}
