<h3> salut</h3>
            <form class='form-horizontal' action='/glicemie/adauga/' method='post'>
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label"> {{ field.label }}</label>
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in field.errors %}{{ error }} {% endfor %}
                            </span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-gourp">
                        <label class="control-label">{{ field.label }}
                            {% if field.help_text %}
                            <p class="help-inline"><small"> {{ field.help_text }}</small></p>
                            {% endif %}</label>
                        <div class="controls">{{ field }}
                            
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </fieldset>
                <br />

                <button type="submit" class="btn btn-primary" id='adauga_glicemie'> Adaugă glicemie</button>
            </form>

