{% extends 'base.html' %}
{% block header_text %}<div align="center"> Cutiuța Diabeticului<h3> probabil cea mai sănătoasă aplicație din Dristor</h3></div>{% endblock %}
{% block content %}

{% if form.errors %}
<p> Username și parola nu se potrivesc. Te rugăm mai încearcă</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p> Acest cont nu are acces la aceasta pagina. Foloseste un cont </p>
    {% else %}
    <p> ca sa vezi aceasta pagina trebuie sa fi logat</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="login" id="loginbutton" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{# asta presupune ca am password reset in view. Oare am?#}
<p><a href="{% url 'password_reset' %}"> Ai pierdut parola?</a></p>
<h3> Înregistrează-te!!</h3>
<p><a href="{% url 'inregistreaza-pacient' %}" id="register"> ca pacient</a>
{# <a href="{% url 'inregistreaza-medic' %}" id="register"> ca medic</a></p> #}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row"><p align="center"> <a href="http://www.medigate.ro"> Beneficiarul</a> proiectului prelucrează date cu caracter personal. Utilizatorul acestui program este protejat de <a href    ="http://www.recensamantromania.ro/wp-content/uploads/2011/11/Legea-nr-677-2001.pdf"> legea 677 din 2001</a></p>
        </div>
    </div>

</nav>
{% endblock %}
